/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run hukai916/sikiclass -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = './assets/samplesheet_siki1_hey2.csv'
    outdir = './results_siki1_hey2'
    tag_fq = './assets/test/tag.fastq'
    ref_with_tag = './assets/test/hey2_preciseInsert.fa'
    ref_wt = './assets/test/hey2_wt.fa'
    tag_start_ref_with_tag = 1090 // 1-based coordinate of tag start pos in ref_with_tag
    tag_end_ref_with_tag = 1177 // 1-based coordinate of tag end pos in ref_with_tag
    tag_flanking = 60 // number of tag-flanking bases to check
    pam_start_ref_wt = 1091 // 1-based coordinate of pam pos in ref_wt
    snp_pos = 1087 // 1-based coordinate on ref_with_tag
    snp_wt = 'T' // wt SNP nucleotide
    snp_mut = 'G' // mutant SNP nucleotide
    classify_no_tag_filter_control_indel = 'uninjected_SIKI_1_9' // For classifying no_tag reads: whether or not to filter out natural INDELs inferred from uninjected control samples. Set to ":" to skip.

    // Genome references
    genome = 'R64-1-1'
}
